body {
    fill: var(--main-text-color);
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.4;
}