h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
