@media screen and (min-width:320px) and (max-width:480px) {
    .portfolio__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
        margin: -10px;
     }

    .portfolio__list-item {
        display: flex;
        width: 135px;
        height: auto;
        background-color: var(--accent-color);
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        margin: 10px;
        text-align: center;
        padding: 10px 0;
     }

    .portfolio__img {
        display: block;

        width: 120px;
        height: 120px;
        object-fit: contain;
        background-color: white;
    }

    .portfolio__title {
        font-size: 14px;
    }
}

@media screen and (min-width:1200px) {
    .portfolio__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
    }

    .portfolio__list {
        margin: -20px;
    }

    .portfolio__list-item {
   width: 320px;
   height: 360px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--accent-color);
   border-radius: 6px;
   text-align: center;
   margin: 20px;
   transition: transform 0.3s ease;
   transition: 500ms  var(--timing-function);
}

.portfolio__img {
    display: block;

    width: 100%;
    object-fit: contain;
    background-color: #ffffff;
}
    
}


.portfolio__list-item:hover {
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    -moz-box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    cursor: pointer;
    transform: scale(1.03); 
    
}

.portfolio__title {
    margin: 8px 0;
}

.portfolio__img {
    border-radius: 8px;
}


.portfolio__img-wrapper {
    @media screen and (min-width:320px) {
        width: 120px;
        height: 120px;
    }
    @media screen and (min-width:1200px) {
        width: 300px;
        height: 300px;
    }
    position: relative;
    overflow: hidden;
    margin: 0;
    
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    background-color: var(--overley-color);
    transform: translateY(100%);
    transition: 500ms  var(--timing-function);
}

.portfolio__list-item:hover .portfolio__overlay {
    transform: translateY(0);
}

.portfolio__overlay  p {
    color: var(--overley-text-color);
    font-size: 16px;
    font-weight: 700;
}

.portfolio__paragraph {
    margin-bottom: 20px;
}