@import './common';

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// pages
@import './portfolio';
@import './about';
// base
@import './base/reset';
@import './base/base';
// utils
@import './utils/variables';
// components
@import './components/container';
@import './components/section';
@import './components/title';
@import './components/logo';
@import './components/button';
@import './components/mobile-menu';
// layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantages';
@import './layouts/about';
@import './layouts/gallery';
@import './layouts/footer';