:root {
    --main-text-color: #f3bc77;
    --background-color: #1d1716;
    --secondary-bg-color: #402a23;
    --accent-color: #a55233;
    --svg-fill-first: #4267B2;
    --svg-fill-second:#C13584;
}