<section>
    <div class="container">
        <h2>Про нас</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quibusdam facere consequatur perspiciatis corporis quis officiis velit eum, odio facilis, ad sint nostrum soluta inventore nihil iste cum commodi aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quibusdam facere consequatur perspiciatis corporis quis officiis velit eum, odio facilis, ad sint nostrum soluta inventore nihil iste cum commodi aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quibusdam facere consequatur perspiciatis corporis quis officiis velit eum, odio facilis, ad sint nostrum soluta inventore nihil iste cum commodi aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quibusdam facere consequatur perspiciatis corporis quis officiis velit eum, odio facilis, ad sint nostrum soluta inventore nihil iste cum commodi aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quibusdam facere consequatur perspiciatis corporis quis officiis velit eum, odio facilis, ad sint nostrum soluta inventore nihil iste cum commodi aliquam!</p>
    </div>
</section>