<section class="about section">
    <div class="container">
        <h2 class="title animate__animated animate__backInLeft">Про мене</h2>
        <div class="about__container">
            <div class="about__container-img animate__animated animate__backInUp">
                <img class="about__img" src="https://scontent-iev1-1.xx.fbcdn.net/v/t39.30808-6/452109427_1553812701836671_2364895923319292750_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=-ckg5vf5vykQ7kNvgF8kUg_&_nc_ht=scontent-iev1-1.xx&_nc_gid=AtLQfEwedq7mpacrfHJTfgw&oh=00_AYBw5AckogFM0L7PGsvX-VaugKtd7rRPcw95B73UovXc0w&oe=66DA6952" alt="Катя">
            </div>
            <div class="about__container-info animate__animated animate__backInRight">
                <p class="about__paragraph-info">
                    Тарасевич-Гривінська Катерина Андріївна. Народилася 28 серпня 1995 року у м.Івано-Франківськ. Навчалася в ЗОШ №13. Змалечку була дуже творчою, тому відвідувала всі мистецькі шкільні гуртки(танці, бісер, літературний клас) та з 5 класу розпочала навчання в Івано-франківській художній шолі, яку закінчила навідмінно.
                </p>
                <a class="button" href="./about.html">Читати більше</a>
            </div>
        </div>
    </div>
</section>