<section class="advantages">
    <div class="container">
        <ul class="advantages_list">
            <li>
                <h3 class="advantages__titles">Lorem ipsum dolor sit.</h3>
                <p class="advantages__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nulla illo unde culpa natus id reprehenderit esse vel veniam repudiandae?</p>
            </li>
            <li>
                <h3 class="advantages__titles">Lorem ipsum dolor sit.</h3>
                <p class="advantages__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nulla illo unde culpa natus id reprehenderit esse vel veniam repudiandae?</p>
            </li>
            <li>
                <h3 class="advantages__titles">Lorem ipsum dolor sit.</h3>
                <p class="advantages__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nulla illo unde culpa natus id reprehenderit esse vel veniam repudiandae?</p>
            </li>
            <li>
                <h3 class="advantages__titles">Lorem ipsum dolor sit.</h3>
                <p class="advantages__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nulla illo unde culpa natus id reprehenderit esse vel veniam repudiandae?</p>
            </li>
        </ul>
    </div>
</section>