<section class="gallery">
    <div class="container">
        <h2 class="title">Галерея</h2>
        <div>
            <ul class="gallery__list">
                <li class="gallery__item">
                    <a class="gallery__link" href="portfolio.html">
                        <img class="gallery__img" src="./images/weaving.jpg" alt="Гобелени">
                        <p class="gallery__list-discription">Ткацтво</p>
                    </a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="portfolio.html">
                        <img class="gallery__img" src="./images/painting.jpg" alt="Живопис">
                        <p class="gallery__list-discription">Живопис</p>
                    </a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="portfolio.html">
                        <img class="gallery__img" src="./images/Hutsul-ceramics.jpg" alt="Косівський розпис">
                        <p class="gallery__list-discription">Косівський розпис</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>