<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <div class="logo-wrapper">
                <svg class="logo__svg" width="70" height="80">
                    <use href="./images/symbol-defs.svg#icon-symbol-left"></use>
                </svg>
                <a class="logo" href="./index.html">Taraskina</a>
                <svg class="logo__svg" width="70" height="80">
                    <use href="./images/symbol-defs.svg#icon-symbol-right"></use>
                </svg>
            </div>

            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__link" href="./index.html">Головна</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__link" href="./portfolio.html">Галерея</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__link" href="./about.html">Про мене</a>
                </li>
            </ul>
        </nav>
    </div>
</header>