.logo {
    padding: 4px 10px;
    border-radius: 5px;

    color:var(--logo-text-color);
    background-color: var(--overley-text-color);
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 3px;
    
    transition: var(--time-delay)  var(--timing-function);

    @media screen and (min-width:320px) and (max-width:767px) {
       font-size: 30px;
       width: auto;
    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        font-size: 30px;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 0px 39px 5px #5c5470;;
        box-shadow: 0px 0px 39px 5px #5c5470;;
        box-shadow: 0px 0px 39px 5px #5c5470;;
        cursor: pointer;
    }
}