.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 50%;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    
    transition: 500ms  var(--timing-function);
}


.menu-button  {
    @media screen and (min-width:767px) {
        display: none;
    }
    
    &:hover {
        background-color: var(--main-text-color);
        fill: var(--background-color);
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}



    .menu-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 700px;
        background-color: var(--background-color);
        padding: 20px;
        text-align: center;
        font-size: 20px;
        z-index: 1;
        transition: 500ms  var(--timing-function);
    
        &.is-open {
            display: block;
        }
    }

.menu-container__list .menu-container__item{
    margin-bottom: 20px;
}



.menu-container__link {
    display: inline-block;
    padding: 10px;
    border-radius: 40px;

    &:hover,
        &:focus {
            background-color: var(--main-text-color);
            color: var(--background-color);
            box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
            -moz-box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
            box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
            cursor: pointer;
        }
}