.advantages__list {
    display: flex;
}

.advantages__list li:not(:last-child) {
    margin-right: 60px;
}

.advantages__titles {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}