.logo {
    padding: 6px 4px;
    background-color: white;
    text-transform: uppercase;
    text-decoration: underline;
    
    color:black;
}


@media screen and (min-width:320px) and (max-width:480px) {
    
    .header {
        margin-bottom:  40px;
    }

    .header__navigation {
        display: flex;
        flex-direction: column;
    }

    .logo {
       font-size: 36px;
       text-align: center;
       font-weight: 800;
    }

    .header__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 40px;

    }
}

.header {
   background-color: var(--secondary-bg-color);
   padding: 30px 0;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:1200px) {
    .header__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header__nav-list li:not(:last-child) {
        margin-right: 70px;
    }
}

.header__nav-item {
    padding: 12px 18px;
    border-radius: 40px;
}

.header__nav-item:hover,
.header__nav-item:focus {
    background-color: var(--main-text-color);
    color: var(--background-color);
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    -moz-box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    cursor: pointer;
}

@media screen and (min-width:1200px) {
    .logo {
        border-radius: 2px;
        font-weight: 800;
        font-size: 48px;
    }
}

.logo:hover,
.logo:focus {
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    -moz-box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    box-shadow: 0px 0px 39px 5px rgba(243,188,119,1);
    cursor: pointer;
}

.header__link {
    font-size: 26px;
    font-weight: 700;
}